[Unit]
Description=port tunnel between the servers to enable prometheus

[Service]
Type=simple
ExecStart=/usr/bin/autossh 167.99.61.153 -o User=autodelete -i /root/.ssh/id_hz_ed25519 -R 4002:localhost:4002 -o ServerAliveInterval=20 ServerAliveCountMax=6 -N -T
Restart=always
User=root

[Install]
WantedBy=multi-user.target
