[Unit]
Description=Prometheus monitoring server for AutoDelete

[Service]
User=prometheus
ExecStart=/usr/local/bin/prometheus --config.file=/home/autodelete/AutoDelete/docs/svrh1/prometheus-secondary.yml --storage.tsdb.path=/var/prometheus/data/ --web.listen-address=localhost:4005  --storage.tsdb.retention.size=4GB --storage.tsdb.retention.time=45d --storage.tsdb.max-block-duration=3d
Restart=always

SyslogIdentifier=Prometheus
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths=/var/prometheus/

[Install]
WantedBy=multi-user.target
